body{
  font-family: 'Roboto Mono', monospace;
  color: #028cf7;
  background-color: #c9f0ff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}
#header-container{
  margin: 0.5em;
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#title{
  font-size: 1.7em;
  font-weight: bold;
  display: inline-flex;
}
#clock{
  font-size: 1.7em;
  color: #ffffff;
  text-shadow: 1px 1px black;
  display: inline-flex;
}
#me{
  font-size: 0.8em;
  color: #ffffff;
}
#me a{
  text-decoration: none;
  color: #ffffff;
  text-shadow: 1px 1px #696969;
  font-family: sans-serif;
  font-weight: lighter;
  position: fixed;
  bottom: 2em;
  right: 2em;
}
#timeselect{
  font-size: 1.5em;
  margin: 0.5em;
  margin-top: 2em;
  text-align: center;
  padding: 2px;
}
#times{
  background-color: #ffffff;
  border-color: #028cf7;
  font-size: 0.8em;
}
#start{
  text-align: center;
  margin-top: 1.5em;
}
#startbutton{
  background-color: #ffffff;
  border-radius: 10px;
  border-color: #028cf7;
  color: #028cf7;
  padding: 10px;
  font-size: 1.2em;
}
#watto{
  height: 55%;
  width: 50%;
  background-image: url("img/watto.PNG");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  position: fixed;
  bottom: 2em;
  padding-left: 50%;
  z-index: -1;
}
@media (max-width: 420px){
  #header-container{
    display: block;
    text-align: center;
  }
  #title{
    display: block;
  }
  #clock{
    display: block;
  }
  #timeselect{
    margin-top: 0;
    font-size: 1.2em;
  }
  #times{
    display: block;
    font-size: 0.8em;
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
  }
  #start{
    margin-top: 1.2em;
  }
  #startbutton{
    font-size: 1.2em;
    color: #028cf7;
  }
  #watto{
    bottom: 0%;
  }
}
